## This notebook shows some quality checks for the data in the Sparkify DWH

First check the number of records in the fact and dimension tables, after connecting succesfully to DWH.

In [1]:
import boto3
import configparser
import pandas as pd
import psycopg2

In [2]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))
KEY=config.get('AWS','key')
SECRET= config.get('AWS','secret')

DWH_DB= config.get("CLUSTER","DB_NAME")
DWH_DB_USER= config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD= config.get("CLUSTER","DB_PASSWORD")
DWH_PORT = config.get("CLUSTER","DB_PORT")
DWH_CLUSTER_IDENTIFIER = config.get("CLUSTER", "DWH_CLUSTER_IDENTIFIER")

In [4]:
redshift = boto3.client("redshift",
                    region_name="us-west-2",
                    aws_access_key_id=KEY,
                    aws_secret_access_key=SECRET)

def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", 
                  "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]

DWH_ENDPOINT = myClusterProps['Endpoint']['Address']

In [6]:
%load_ext sql
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cjjgpsisxgma.us-west-2.redshift.amazonaws.com:5439/dwhadmin

'Connected: dwhuser@dwhadmin'

In [27]:
%sql SELECT COUNT(*) FROM staging_events

 * postgresql://dwhuser:***@dwhcluster.cjjgpsisxgma.us-west-2.redshift.amazonaws.com:5439/dwhadmin
1 rows affected.

[(6820,)]

In [28]:
%sql SELECT * FROM staging_events LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cjjgpsisxgma.us-west-2.redshift.amazonaws.com:5439/dwhadmin
5 rows affected.

[('N.E.R.D. FEATURING MALICE', 'Logged In', 'Jayden', 'M', 0, 'Fox', 288.9922, 'free', 'New Orleans-Metairie, LA', 'PUT', 'NextSong', 1541033612796.0, 184, 'Am I High (Feat. Malice)', 200, '1541121934796', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 101),
 ('Death Cab for Cutie', 'Logged In', 'Stefany', 'F', 1, 'White', 216.42404, 'free', 'Lubbock, TX', 'PUT', 'NextSong', 1540708070796.0, 82, 'A Lack Of Color (Album Version)', 200, '1541122241796', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 83),
 ('Tracy Gang Pussy', 'Logged In', 'Stefany', 'F', 2, 'White', 221.33506, 'free', 'Lubbock, TX', 'PUT', 'NextSong', 1540708070796.0, 82, 'I Have A Wish', 200, '1541122457796', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 83),
 ('Skillet', 'Logged In', 'Kevin', 'M', 0, 'Arellano', 178.02404, 'free', 'Harrisburg-Carlisle, PA', 'PUT', 'NextSong', 1540006905796.0, 153, 'Monster (Album Version)', 200, '1541126568796', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', 66),
 ('Dance Gavin Dance', 'Logged In', 'Marina', 'F', 0, 'Sutton', 218.46159, 'free', 'Salinas, CA', 'PUT', 'NextSong', 1541064343796.0, 47, 'Uneasy Hearts Weigh The Most', 200, '1541127957796', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 48)]

In [29]:
%sql SELECT DISTINCT page from staging_events

 * postgresql://dwhuser:***@dwhcluster.cjjgpsisxgma.us-west-2.redshift.amazonaws.com:5439/dwhadmin
1 rows affected.

[('NextSong',)]

In [30]:
%sql SELECT COUNT(*) FROM staging_songs

 * postgresql://dwhuser:***@dwhcluster.cjjgpsisxgma.us-west-2.redshift.amazonaws.com:5439/dwhadmin
1 rows affected.

[(14896,)]

In [31]:
%sql SELECT * FROM staging_songs LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cjjgpsisxgma.us-west-2.redshift.amazonaws.com:5439/dwhadmin
5 rows affected.

[('ARYKCQI1187FB3B18F', None, '', None, 'Tesla', 290.29832, 1, 'SOXLBJT12A8C140925', 'Caught In A Dream', 2004),
 ('ARA03PG1187B9B0681', None, '', None, 'The Crash', 195.73506, 1, 'SOMYSVN12A8AE46E1E', 'What If I Meet You', 0),
 ('ARILUEI1187B98DB61', None, 'Athens, GA', None, 'Widespread Panic', 280.65914, 1, 'SOHHGNB12A58A7C9C4', 'Climb To Safety', 1999),
 ('ARM7I0R1187B996579', None, '', None, 'Mellow Mark', 220.31628, 1, 'SOUDIVN12AB01861E7', 'Movement', 0),
 ('ARW63XP1187FB5AB99', None, 'Glasgow, Scotland', None, 'Primal Scream', 256.1824, 1, 'SOEAKIB12A8AE48D12', 'Pills', 2000)]

In [32]:
%sql SELECT COUNT(*) FROM users

 * postgresql://dwhuser:***@dwhcluster.cjjgpsisxgma.us-west-2.redshift.amazonaws.com:5439/dwhadmin
1 rows affected.

[(104,)]

In [33]:
%sql SELECT * FROM users LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cjjgpsisxgma.us-west-2.redshift.amazonaws.com:5439/dwhadmin
5 rows affected.

[(2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (3, 'Isaac', 'Valdez', 'M', 'free'),
 (4, 'Alivia', 'Terrell', 'F', 'free'),
 (5, 'Elijah', 'Davis', 'M', 'free'),
 (6, 'Cecilia', 'Owens', 'F', 'free')]

In [34]:
%sql SELECT COUNT(*) FROM song

 * postgresql://dwhuser:***@dwhcluster.cjjgpsisxgma.us-west-2.redshift.amazonaws.com:5439/dwhadmin
1 rows affected.

[(14896,)]

In [35]:
%sql SELECT * FROM song LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cjjgpsisxgma.us-west-2.redshift.amazonaws.com:5439/dwhadmin
5 rows affected.

[('SOAAFHQ12A6D4F836E', "Ridin' Rims (Explicit Album Version)", 'AR3CQ2D1187B9B1953', 2006, 322.84689),
 ('SOAAHZO12A67AE1265', 'Agni Sha Kshi', 'AR9DE5T1187FB48CA3', 0, 229.69424),
 ('SOAAKBE12A8C139075', 'Emília', 'ART1OPW1187FB3C5EF', 0, 159.7122),
 ('SOAAXAZ12A6701CC77', 'Min Häst har Blivit Sjuk', 'AR45GZC1187FB48E44', 1975, 282.14812),
 ('SOAAXEV12A6D4FA21C', 'Micro Chip', 'ARTRZBZ1187FB5698A', 2006, 230.71302)]

In [36]:
%sql SELECT COUNT(*) FROM artist

 * postgresql://dwhuser:***@dwhcluster.cjjgpsisxgma.us-west-2.redshift.amazonaws.com:5439/dwhadmin
1 rows affected.

[(10025,)]

In [37]:
%sql SELECT * FROM artist LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cjjgpsisxgma.us-west-2.redshift.amazonaws.com:5439/dwhadmin
5 rows affected.

[('AR00B1I1187FB433EB', 'Eagle-Eye Cherry', 'Stockholm, Sweden', None, None),
 ('AR00DG71187B9B7FCB', 'Basslovers United', '', None, None),
 ('AR00FVC1187FB5BE3E', 'Panda', 'Monterrey, NL, México', '25.670839999999998', None),
 ('AR00JIO1187B9A5A15', 'Saigon', 'Brooklyn', '40.655070000000002', None),
 ('AR00LNI1187FB444A5', 'Bruce BecVar', '', None, None)]

In [38]:
%sql SELECT COUNT(*) FROM time

 * postgresql://dwhuser:***@dwhcluster.cjjgpsisxgma.us-west-2.redshift.amazonaws.com:5439/dwhadmin
1 rows affected.

[(6820,)]

In [39]:
%sql SELECT * FROM time LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cjjgpsisxgma.us-west-2.redshift.amazonaws.com:5439/dwhadmin
5 rows affected.

[(datetime.datetime(2018, 11, 1, 21, 1, 46, 796000), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 5, 52, 796000), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 8, 16, 796000), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 11, 13, 796000), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 17, 33, 796000), 21, 1, 44, 11, 2018, 4)]

In [40]:
%sql SELECT COUNT(*) FROM songplay

 * postgresql://dwhuser:***@dwhcluster.cjjgpsisxgma.us-west-2.redshift.amazonaws.com:5439/dwhadmin
1 rows affected.

[(333,)]

In [41]:
%sql SELECT * FROM songplay LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cjjgpsisxgma.us-west-2.redshift.amazonaws.com:5439/dwhadmin
5 rows affected.

[(1, datetime.datetime(2018, 11, 29, 17, 49, 47, 796000), 75, 'free', 'SOAOXTT12AB0182E23', 'AROSIKT1187B9A4D53', 721, 'Las Vegas, NV', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.75.14 (KHTML, like Gecko) Version/7.0.3 Safari/537.75.14"'),
 (9, datetime.datetime(2018, 11, 24, 13, 55, 51, 796000), 95, 'paid', 'SOARUPP12AB01842E0', 'ARD46C811C8A414F3F', 564, 'Cleveland, Ohio', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"'),
 (17, datetime.datetime(2018, 11, 23, 15, 29, 23, 796000), 53, 'free', 'SOARUPP12AB01842E0', 'ARD46C811C8A414F3F', 860, 'Cleveland, Ohio', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"'),
 (25, datetime.datetime(2018, 11, 14, 15, 24, 12, 796000), 80, 'paid', 'SOARUPP12AB01842E0', 'ARD46C811C8A414F3F', 574, 'Cleveland, Ohio', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (33, datetime.datetime(2018, 11, 12, 21, 22, 1, 796000), 12, 'free', 'SOARUPP12AB01842E0', 'ARD46C811C8A414F3F', 371, 'Cleveland, Ohio', 'Mozilla/5.0 (Windows NT 6.1; rv:31.0) Gecko/20100101 Firefox/31.0')]