## This notebook shows some quality checks for the data in the Sparkify DWH

First check the number of records in the fact and dimension tables, after connecting succesfully to DWH. Also I'm alwas showing the first few records of each table, to get an impression of the data loaded.
After that below, you'll find some queries to check whether we have the same anount of song and artist informastion in both staging tables.
The last queries also secribe very well, why at the end the songplay table is very small, becuase it makes no sense to accept NULL values for eihter song or artist.

In [1]:
import boto3
import configparser
import pandas as pd
import psycopg2

In [2]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

DWH_DB= config.get("CLUSTER","DB_NAME")
DWH_DB_USER= config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD= config.get("CLUSTER","DB_PASSWORD")
DWH_PORT = config.get("CLUSTER","DB_PORT")
HOST = config.get("CLUSTER", "HOST")

In [3]:
%load_ext sql
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, HOST, DWH_PORT, DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cjjgpsisxgma.us-west-2.redshift.amazonaws.com:5439/dwhadmin

'Connected: dwhuser@dwhadmin'

In [4]:
%sql SELECT COUNT(*) FROM staging_events

 * postgresql://dwhuser:***@dwhcluster.cjjgpsisxgma.us-west-2.redshift.amazonaws.com:5439/dwhadmin
1 rows affected.

[(6820,)]

In [5]:
%sql SELECT * FROM staging_events LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cjjgpsisxgma.us-west-2.redshift.amazonaws.com:5439/dwhadmin
5 rows affected.

[('Mynt', 'Logged In', 'Celeste', 'F', 2, 'Williams', 166.94812, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', 1541077528796.0, 52, 'Playa Haters', 200, '1541207150796', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Taylor Swift', 'Logged In', 'Celeste', 'F', 3, 'Williams', 230.47791, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', 1541077528796.0, 52, 'You Belong With Me', 200, '1541207316796', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Amy Winehouse', 'Logged In', 'Celeste', 'F', 4, 'Williams', 229.85098, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', 1541077528796.0, 52, 'Valerie', 200, '1541207546796', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Jimmy Eat World', 'Logged In', 'Celeste', 'F', 5, 'Williams', 285.83138, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', 1541077528796.0, 52, 'Dizzy', 200, '1541207775796', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Maldita Nerea', 'Logged In', 'Anabelle', 'F', 0, 'Simpson', 241.162, 'free', 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD', 'PUT', 'NextSong', 1541044398796.0, 158, 'Supelicula', 200, '1541254670796', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', 69)]

In [6]:
%sql SELECT DISTINCT page from staging_events

 * postgresql://dwhuser:***@dwhcluster.cjjgpsisxgma.us-west-2.redshift.amazonaws.com:5439/dwhadmin
1 rows affected.

[('NextSong',)]

In [7]:
%sql SELECT COUNT(*) FROM staging_songs

 * postgresql://dwhuser:***@dwhcluster.cjjgpsisxgma.us-west-2.redshift.amazonaws.com:5439/dwhadmin
1 rows affected.

[(14896,)]

In [8]:
%sql SELECT * FROM staging_songs LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cjjgpsisxgma.us-west-2.redshift.amazonaws.com:5439/dwhadmin
5 rows affected.

[('ARD842G1187B997376', '43.648560000000003', 'Toronto, Ontario, Canada', None, 'Blue Rodeo', 491.12771, 1, 'SOHUOAP12A8AE488E9', 'Floating', 1987),
 ('AROEL1B1187B988B90', None, 'South Jamaica, Queens', None, 'Lost Boyz', 269.7922, 1, 'SOFHBAR12A6701D0FE', 'Certain Things We Do', 1997),
 ('ARB8Q2P1187FB4D05D', '34.053489999999996', 'Los Angeles, CA', None, 'Roy Ayers', 557.45261, 1, 'SOOVJEF12A67ADE8D7', 'Long Time Ago', 0),
 ('ARIXKGR1187B99A565', '40.190330000000003', 'Cincinnatti, OH', None, 'Nadanuf', 246.38649, 1, 'SOLCRQP12A8C13CE2B', 'The Breaks (Album Version)', 1997),
 ('ARAO91X1187B98CCA4', '41.504710000000003', 'Cleveland, Ohio', None, 'Tracy Chapman', 259.91791, 1, 'SOBYAKJ12AB017C6E2', 'Broken (LP Version)', 2002)]

In [9]:
%sql SELECT COUNT(*) FROM users

 * postgresql://dwhuser:***@dwhcluster.cjjgpsisxgma.us-west-2.redshift.amazonaws.com:5439/dwhadmin
1 rows affected.

[(104,)]

In [10]:
%sql SELECT * FROM users LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cjjgpsisxgma.us-west-2.redshift.amazonaws.com:5439/dwhadmin
5 rows affected.

[(2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (3, 'Isaac', 'Valdez', 'M', 'free'),
 (4, 'Alivia', 'Terrell', 'F', 'free'),
 (5, 'Elijah', 'Davis', 'M', 'free'),
 (6, 'Cecilia', 'Owens', 'F', 'free')]

In [11]:
%sql SELECT COUNT(*) FROM song

 * postgresql://dwhuser:***@dwhcluster.cjjgpsisxgma.us-west-2.redshift.amazonaws.com:5439/dwhadmin
1 rows affected.

[(14896,)]

In [12]:
%sql SELECT * FROM song LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cjjgpsisxgma.us-west-2.redshift.amazonaws.com:5439/dwhadmin
5 rows affected.

[('SOAAAQN12AB01856D3', 'Campeones De La Vida', 'ARAMIDF1187FB3D8D4', 0, 153.36444),
 ('SOAAOLZ12A6D4FB403', 'Somebody Knew', 'ARRSUF71187FB52F33', 1997, 188.08118),
 ('SOAAUGN12AB01830B6', "Don't Wanna Suffer (Carbon Copy)", 'ARVC9W21187B99354B', 2003, 180.63628),
 ('SOAAVYM12A8C13C43C', "Barn's On Fire", 'ARGUSVR1187B9AD15E', 2008, 103.49669),
 ('SOABYIT12AB0183026', 'Vilda vindar', 'AR98ZSW1187B98E82C', 1985, 266.13506)]

In [13]:
%sql SELECT COUNT(*) FROM artist

 * postgresql://dwhuser:***@dwhcluster.cjjgpsisxgma.us-west-2.redshift.amazonaws.com:5439/dwhadmin
1 rows affected.

[(10025,)]

In [14]:
%sql SELECT * FROM artist LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cjjgpsisxgma.us-west-2.redshift.amazonaws.com:5439/dwhadmin
5 rows affected.

[('AR00B1I1187FB433EB', 'Eagle-Eye Cherry', 'Stockholm, Sweden', None, None),
 ('AR00DG71187B9B7FCB', 'Basslovers United', '', None, None),
 ('AR00FVC1187FB5BE3E', 'Panda', 'Monterrey, NL, México', '25.670839999999998', None),
 ('AR00JIO1187B9A5A15', 'Saigon', 'Brooklyn', '40.655070000000002', None),
 ('AR00LNI1187FB444A5', 'Bruce BecVar', '', None, None)]

In [15]:
%sql SELECT COUNT(*) FROM time

 * postgresql://dwhuser:***@dwhcluster.cjjgpsisxgma.us-west-2.redshift.amazonaws.com:5439/dwhadmin
1 rows affected.

[(6820,)]

In [16]:
%sql SELECT * FROM time LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cjjgpsisxgma.us-west-2.redshift.amazonaws.com:5439/dwhadmin
5 rows affected.

[(datetime.datetime(2018, 11, 1, 21, 1, 46, 796000), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 5, 52, 796000), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 8, 16, 796000), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 11, 13, 796000), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 17, 33, 796000), 21, 1, 44, 11, 2018, 4)]

In [17]:
%sql SELECT COUNT(*) FROM songplay

 * postgresql://dwhuser:***@dwhcluster.cjjgpsisxgma.us-west-2.redshift.amazonaws.com:5439/dwhadmin
1 rows affected.

[(333,)]

In [18]:
%sql SELECT * FROM songplay LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cjjgpsisxgma.us-west-2.redshift.amazonaws.com:5439/dwhadmin
5 rows affected.

[(5, datetime.datetime(2018, 11, 26, 8, 32, 17, 796000), 97, 'paid', 'SOAYHDS12AB018016A', 'ARVL9VD1187B9AE186', 837, '', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (13, datetime.datetime(2018, 11, 23, 12, 8, 33, 796000), 80, 'paid', 'SOBBHVN12A6702162D', 'ARFSZGT1187B9B1E44', 848, 'Los Angeles, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (21, datetime.datetime(2018, 11, 29, 18, 21, 24, 796000), 49, 'paid', 'SOCIGMX12A8C144150', 'ARQOBT71187FB4CCCA', 1041, '', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (29, datetime.datetime(2018, 11, 15, 7, 31, 55, 796000), 49, 'paid', 'SOCUITT12AB0187A32', 'ARKS2FE1187B99325D', 606, 'New Orleans, LA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (37, datetime.datetime(2018, 11, 28, 17, 39, 27, 796000), 49, 'paid', 'SODKJWI12A8151BD74', 'ARM0P6Z1187FB4D466', 1023, 'Sheffield, South Yorkshire, Engla', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0')]

## More analytic queries

We have 3148 artists in the staging_events table, 9936 in staging_songs table and only, but only 1732 appearing in both tables

In [19]:
%sql SELECT COUNT (DISTINCT artist) FROM staging_events

 * postgresql://dwhuser:***@dwhcluster.cjjgpsisxgma.us-west-2.redshift.amazonaws.com:5439/dwhadmin
1 rows affected.

[(3148,)]

In [20]:
%sql SELECT COUNT (DISTINCT artist_name) FROM staging_songs

 * postgresql://dwhuser:***@dwhcluster.cjjgpsisxgma.us-west-2.redshift.amazonaws.com:5439/dwhadmin
1 rows affected.

[(9936,)]

In [21]:
%%sql
SELECT COUNT (distinct se.artist) 
FROM staging_events se 
JOIN staging_songs so
ON so.artist_name = se.artist

 * postgresql://dwhuser:***@dwhcluster.cjjgpsisxgma.us-west-2.redshift.amazonaws.com:5439/dwhadmin
1 rows affected.

[(1732,)]

We have 5189 songs in the staging_events table, 14402 in staging_songs table and only, but only 514 appearing in both tables

In [22]:
%sql SELECT COUNT (DISTINCT song) FROM staging_events

 * postgresql://dwhuser:***@dwhcluster.cjjgpsisxgma.us-west-2.redshift.amazonaws.com:5439/dwhadmin
1 rows affected.

[(5189,)]

In [23]:
%sql SELECT COUNT (DISTINCT title) FROM staging_songs

 * postgresql://dwhuser:***@dwhcluster.cjjgpsisxgma.us-west-2.redshift.amazonaws.com:5439/dwhadmin
1 rows affected.

[(14402,)]

In [24]:
%%sql
SELECT COUNT(DISTINCT se.song)
FROM staging_events se 
JOIN staging_songs so
ON so.title = se.song

 * postgresql://dwhuser:***@dwhcluster.cjjgpsisxgma.us-west-2.redshift.amazonaws.com:5439/dwhadmin
1 rows affected.

[(514,)]

### These are the reasons, why the songplay table is that small.